In [1]:
## Ejercicio 1: lectura de archivo

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('worldcup2014.csv')

In [4]:
df.head(5)

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

In [6]:
##-----------------------------------------------------##
## Ejercicio 2: Estime las frecuencias de continent ##

In [7]:
df['continent'].value_counts()

europe          13
southamerica     6
africa           5
northamerica     4
asia             4
Name: continent, dtype: int64

In [8]:
#El continente con una mayor presencia en la muestra es Europa

In [9]:
df['continent'].value_counts() / len(df)

europe          0.40625
southamerica    0.18750
africa          0.15625
northamerica    0.12500
asia            0.12500
Name: continent, dtype: float64

In [10]:
#La probabilidad de elegir un equipo asiático es 12,5%

In [11]:
#La probabilidad de elegir un equipo africano es de 15,6%

In [12]:
#--------------------------------------------------#
##Ejercicio 3: Probabilidades por continente##

In [17]:
europa = df[df['continent'] == 'europe']

In [18]:
europa

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1
6,Spain,europe,B,3,3,1,0,2,4,7,−3,3,0
9,Greece,europe,C,2,3,1,1,1,2,4,−2,4,1
14,Italy,europe,D,3,3,1,0,2,2,3,−1,3,0
15,England,europe,D,4,3,0,1,2,2,4,−2,1,0
16,France,europe,E,1,3,2,1,0,8,2,6,7,1
17,Switzerland,europe,E,2,3,2,0,1,7,6,1,6,1
22,Bosnia and Herzegovina,europe,F,3,3,1,0,2,4,4,0,3,0
24,Germany,europe,G,1,3,2,1,0,7,2,5,7,1
26,Portugal,europe,G,3,3,1,1,1,4,7,−3,4,0
28,Belgium,europe,H,1,3,3,0,0,4,1,3,9,1
30,Russia,europe,H,3,3,0,2,1,2,3,−1,2,0

In [19]:
southamerica = df[df['continent'] == 'southamerica']

In [20]:
asia = df[df['continent'] == 'asia']

In [21]:
northamerica = df[df['continent'] == 'northamerica']

In [22]:
africa = df[df['continent'] == 'africa']

In [29]:
#----------------------------------------------------#
##Ejercicio 4: Calcule la probabilidad de clasificación a la siguiente ronda##

In [32]:
#Probabilidad de que Europa  pase a la siguiente ronda 
clasificados_e= 0
for i in europa['clasificado']:
    if i == 1:
        clasificados_e += 1
    
print (clasificados_e)

6

In [33]:
clasificados_e/len(df)

0.1875

In [34]:
#La probabiliad de que Europa pase a la siguiente ronda es de un 18%

In [36]:
#Probabilidad de que SouthAmerica  pase a la siguiente ronda 
clasificados_sa= 0
for i in southamerica['clasificado']:
    if i == 1:
        clasificados_sa += 1
    
print (clasificados_sa)
clasificados_sa/len(df)

5

0.15625

In [37]:
#La probabilidad de que Southamerica pase a la siguiente ronda es de un 15%

In [38]:
#Probabilidad de que Asia  pase a la siguiente ronda 
clasificados_a= 0
for i in asia['clasificado']:
    if i == 1:
        clasificados_a += 1
    
print (clasificados_a)
clasificados_a/len(df)

0

0.0

In [39]:
asia

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
7,Australia,asia,B,4,3,0,0,3,3,9,−6,0,0
11,Japan,asia,C,4,3,0,1,2,2,6,−4,1,0
23,Iran,asia,F,4,3,0,1,2,1,4,−3,1,0
31,South Korea,asia,H,4,3,0,1,2,3,6,−3,1,0

In [40]:
#La probabilidad de que Asia pase a la siguiente ronda es de un 0%

In [41]:
#Probabilidad de que Northamerica  pase a la siguiente ronda 
clasificados_na= 0
for i in northamerica['clasificado']:
    if i == 1:
        clasificados_na += 1
    
print (clasificados_na)
clasificados_na/len(df)

3

0.09375

In [42]:
#La probabilidad de que Northamerica pase a la siguiente ronda es de un 9%

In [43]:
#Probabilidad de que Africa  pase a la siguiente ronda 
clasificados_af= 0
for i in africa['clasificado']:
    if i == 1:
        clasificados_af += 1
    
print (clasificados_af)
clasificados_af/len(df)

2

0.0625

In [44]:
#La probabilidad de que Africa pase a la siguiente ronda es de un 6%

In [50]:
#¿Cuál fue la probabilidad de que un país asiático pase a la siguiente ronda?
#0%

In [51]:
#¿Cuáles fueron los dos continentes que tuvieron la mayor probabilidad de clasificar?
# Europa y suramerica

In [52]:
#¿Cuál fue la probabilidad de no clasificar un país europeo?
europa['clasificado'].value_counts() / len(df)

0    0.21875
1    0.18750
Name: clasificado, dtype: float64

In [118]:
#La probabilidad de no clasificar un país europeo es de un 
no_clasificados_e= 0
for i in europa['clasificado']:
    if i == 0:
        no_clasificados_e += 1
    
print (no_clasificados_e)
no_clasificados_e/len(df)

7

0.21875

In [54]:
#--------------------------------------------------#
##Ejercicio 5: Refactorización##

In [55]:
for i in [africa, europa, asia, northamerica, southamerica]:
    print(i['juegos_ganados'].value_counts('%'))

1    0.6
0    0.4
Name: juegos_ganados, dtype: float64
1    0.461538
2    0.230769
3    0.153846
0    0.153846
Name: juegos_ganados, dtype: float64
0    1.0
Name: juegos_ganados, dtype: float64
2    0.50
1    0.25
0    0.25
Name: juegos_ganados, dtype: float64
2    0.500000
3    0.333333
1    0.166667
Name: juegos_ganados, dtype: float64

In [92]:
g_europa= np.where(europa['juegos_ganados']>0, 1, 0)
g_southamerica= np.where(southamerica['juegos_ganados']>0, 1, 0)
g_asia= np.where(asia['juegos_ganados']>0, 1, 0)
g_northamerica= np.where(northamerica['juegos_ganados']>0, 1, 0)
g_africa= np.where(africa['juegos_ganados']>0, 1, 0)

In [93]:
g_europa, g_southamerica

(array([1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0]), array([1, 1, 1, 1, 1, 1]))

In [94]:
g_europa_p = pd.DataFrame(g_europa)  #Tranformar a tipo pd series
g_southamerica_p = pd.DataFrame(g_southamerica)
g_asia_p = pd.DataFrame(g_asia)
g_northamerica_p = pd.DataFrame(g_northamerica)
g_africa_p = pd.DataFrame(g_africa)

In [110]:
g_europa_p[0].value_counts('%') #Probabilidad de ganar Europa

1    0.846154
0    0.153846
Name: 0, dtype: float64

In [111]:
g_southamerica_p[0].value_counts('%') #Probabilidad de ganar Southamerica

1    1.0
Name: 0, dtype: float64

In [112]:
g_asia_p[0].value_counts('%') #Probabilidad de ganar Asia

0    1.0
Name: 0, dtype: float64

In [113]:
g_northamerica_p[0].value_counts('%') #Probabilidad de ganar Northamerica

1    0.75
0    0.25
Name: 0, dtype: float64

In [115]:
g_africa_p[0].value_counts('%') #Probabilidad de ganar Africa

1    0.6
0    0.4
Name: 0, dtype: float64

In [106]:
#¿Qué continente tuvo una mayor probabilidad de ganar juegos?
#Europa, tiene una probabilidad de 84% de ganar juegos

In [107]:
#¿Qué continente presentó un nivel similar entre juegos ganados y perdidos?
#Africa

In [116]:
#Utilize el código para el caso de juegos perdidos y analize el continente con una mayor probabilidad de perder
#Asia

In [117]:
#¿Qué continente tiene una mayor probabilidad de clasificar?
#Europa

In [119]:
#¿Qué continente tiene una menor probabilidad de clasificar?
#Asia

In [121]:
#¿Cuál es la probabilidad de no clasificar de un país africano?
#Probabilidad de que Africa  pase a la siguiente ronda 
no_clasificados_af= 0
for i in africa['clasificado']:
    if i == 0:
        no_clasificados_af += 1
    
print (no_clasificados_af)
no_clasificados_af/len(df)

3

0.09375